# based on this work:
# https://www.reddit.com/r/kde/comments/7h6g8e/move_window_to_center_patch/
# modified and extended by Pietari Heino
# further modified and extended by Jonathan Pim

[Desktop Entry]
Name=Resize and Move Current Window
Comment=Resize and move the current window to 1/3 or 2/3 of screen width, full height, and move to left, right or centre.
Icon=preferences-system-windows

X-KDE-PluginInfo-Author=FungusAdamAndPietariHeinoAndJonathanPim
X-KDE-PluginInfo-Name=kde_reseize_one_third
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL

Type=Service
X-KDE-ServiceTypes=KWin/Script
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js